.about{
    background-image: url('../images/bg-pattern-about-1-mobile-nav-1.svg');
    background-repeat: no-repeat;
    background-position: right -10rem bottom;
    padding-bottom: 12rem;
}
.about-container{
    display: flex;

    h1{
        margin-right: 22rem;
        font-size: $h1-small-fz;
        line-height: $h1-small-lh;
        transition: .3s;
    }
    .about-desc{
        hr{
            width: 50px;
            height: 4px;
            border: none;
            background-color: $light-coral;
            margin-bottom: 4rem;
        }
        p{
            font-weight: 600;
        }
        transition: .3s;

    }
}

// MEETING
.meeting {
    padding-top: 14rem;
    padding-bottom: 14rem;
    background-color: $deep-jungle-green;
    background-image: url('../images/bg-pattern-about-2-contact-1.svg'),
    url('../images/bg-pattern-home-4-about-3.svg');
    background-position: top left -10rem, right bottom;
    background-repeat: no-repeat;
}
.meeting-container {

    h2{
        text-align: center;
        font-size: $h2-fz;
        line-height: $h2-lh;
        padding-bottom: 6.4rem;
    }
}
.meeting__box {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}
.meeting__box-card {
    width: 330px;
    background-color:$sacramento-state-green ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.2rem;
    transition: .3s;
    margin-bottom: 3rem;
    &:hover{
        border-radius: 15px;
        transform: scale(1.1);
    }
    &:last-child{
        background-color: $dark-green;
        text-align: center;
        padding-left: 4.8rem;
        padding-right: 4.8rem;
        p{
            padding-top: 0.8rem;
            padding-bottom: 2.4rem;
            font-size: $body2-fz;
            line-height: $body2-lh;
        }
        .meet-icons{
            display: flex;
            gap: 1.6rem;
            i{
                font-size: 2rem;
                transition: .3s;
                &:hover{
                    color: $light-coral;
                }
            }
        }
        .sacramento{
            background-color: $rapture-blue;
        }
    }
    img{
        width: 96px;
        border-radius: 50%;  
        border: 2.5px solid $rapture-blue;      
        margin-bottom: 1.6rem;
    }
    b{
        color: $rapture-blue;
    }
    i{
        font-size: $body2-fz;
        line-height: $body2-lh;
        font-weight: 500;
    }

    .meeting-oval{
        width: 56px;
        height: 56px;
        background-color: $light-coral;
        border-radius: 50%;
        transform: translateY(50%);
        display: grid;
        place-items: center;
        img{
            width: 16px;
            transform: translateY(55%);
            border: 0;
        }
    }
}


// CLIENTS
.client {
    padding-top: 14rem;
    padding-bottom: 14rem;
    background-color:$sacramento-state-green;
    background-image:url('../images/bg-pattern-about-4.svg');
    background-repeat:no-repeat;
}
.client-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        text-align: center;
        font-size: $h2-fz;
        line-height: $h2-lh;
        padding-bottom: 6.4rem;
    }
}

.client-techradar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    img{
        transition: .3s;
        &:first-child,
        &:nth-child(4){
            width: 165px;
            height: 28px;
        }
        &:nth-child(2){
            width: 184px;
            height: 23px;
        }
        &:nth-child(3){
            width: 180px;
            height: 28px;
        }
        &:last-child{
            width: 98px;
            height: 45px;
        }
        &:hover{
            cursor: pointer;
            transform: scale(1.3);
        }
        
    }
}








@media screen and (max-width:1383px) {
    .meeting__box{
        justify-content: center;
    }
}






@media screen and (max-width:768px) {
    .about{
        padding-bottom: 9rem;
    }
    .about-container{
        h1{
            margin-right: 0;
        }
        text-align: center;
        flex-direction: column;
        padding-bottom: 2.4rem;
    }
    .about-desc{
        hr{
            display: none;
        }
        p{
            padding-top: 2.4rem;
            width: 100%;
            margin: auto;
        }
    }
    .meeting-container{
        h2{
            font-size: 4rem;
        }
    }
    .meeting__box-card{
        margin-bottom: 3rem;
    }
}
@media screen and (max-width:423px){
    .meeting-container{
        h2{
            font-size: 3.2rem;
        }
    }
    .meeting{
        background-position: top -10rem left -10rem, right bottom;
    }
}


@media screen and (max-width:375px){
    .about-container{
        h1{
            font-size: 4rem;
        }
    }
    .about-desc{
        p{
            font-size: $body2-fz;
            line-height: $body2-lh;
        }
    }

} 