
.btn {
    padding: 1.1rem 3.2rem;
    border: 2px solid transparent;
    border-radius: 24px;
    line-height: normal;
}
.btn-light {
    color: $white;
    font-weight: 600;
    border-color: $white;
    transition: .3s;

    &:hover{
        background-color:$white;
        color: $dark-green;
    }

    &:active{
        background-color: #ddd;
    }
}
.btn-dark{
    color: $dark-green;
    border-color: $dark-green;
    transition: .3s;
    &:hover{
        background-color:$dark-green;
        color: $white;
    }

    &:active{
        opacity: 0.8;
    }
}
