.hero{
    background-image:url('../images/bg-pattern-home-1.svg');
    background-repeat:no-repeat;
    background-position: top left -10rem;

}
.hero-container{
    display: flex;
    justify-content: space-between;
    background-image:url('../images/bg-pattern-home-2.svg');
    background-repeat:no-repeat;
    background-position: bottom right 17.5rem;
    padding-bottom: 25rem;

    h1{
        font-size: $h1-large-fz;
        line-height: $h1-large-lh;
        span{
            color: $light-coral;
        }
    }
    .hero-text{
        hr{
            width: 5rem;
            height: 4px;
            background-color: $rapture-blue;
            border: 0;
        }
        p{
            width: 425px;   
            font-size: $body1-fz;
            line-height: $body1-lh;
            padding-top: 7.9rem;
            background-image: url('../img/blue-line.svg');
            background-repeat: no-repeat;
            font-weight: 600;       
        }
    }
}




// FEATURES
.features{
    background-color:$sacramento-state-green;
    padding-top: 14rem;
    padding-bottom: 14rem;
    background-image: url('../images/bg-pattern-home-3.svg');
    background-position:right -10rem bottom;
    background-repeat: no-repeat;
}
.features-container{
    display: flex;
    justify-content: space-between;
    .features-divider{
        width: 5rem;
        height: 4px;
        background-color: $light-coral;
        border: 0;
        margin-bottom: 6rem;
    }
    .features__text h2{
        font-size: 4.9rem;
        line-height: $h2-lh;
    }
    .features__choice{
        padding-top: 5.8rem;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;

        .features__choice__box{
            width: 54rem;
            display: flex;
            align-items: center;
            gap: 2.3rem;
            img{
                width: 72px;
                height: 72px;
            }
            b{
                color: $light-coral;
                font-size: $body1-fz;
                line-height: $body1-lh;
            }
            p{
                padding-top: 1.6rem;
                font-size: $body2-fz;
                line-height: $body2-lh;
                font-weight: 600;
                opacity: 80%;
            }
        }
    }
}


// DELIVERY
.delivery{
    padding-top: 14rem;
    padding-bottom: 14rem;
    text-align: center;
    background-image: url('../images/bg-pattern-home-4-about-3.svg'),
    url('../images/bg-pattern-home-5.svg');
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}
.delivery-container{
    h2{        
        // width: 93.2rem;
        text-align: center;
        margin: auto;
        font-size: $h2-fz;
        line-height: $h2-lh;
        padding-bottom: 5.6rem;

        span{
            color: $rapture-blue;
        }
    }

    .delivery__team{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;


        .delivery__team__box{
            width: 35rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            p{
                padding-top: 3.6rem;
                font-size: $body2-fz;
                line-height: $body2-lh;
                padding-bottom: 2.4rem;
                font-weight: 600;
                background-image: url('../images/icon-quotes.svg');
                background-repeat: no-repeat;
                background-position: top center;
            }
            .team-desc{
                display: flex;
                flex-direction: column;
                gap: 0.2rem;
                margin-bottom: 3.2rem;
                b{
                    color: $rapture-blue;
                    font-size: $body1-fz;
                    line-height: $body1-lh;
                }
                i{
                    font-size: 1.3rem;
                    line-height: 1.8rem;
                }

            }
            img{
                width: 6.2rem;
                border-radius: 50%;
                border: 2px solid $rapture-blue;
            }
        }
    }
}






// RESPONSIVE
@media screen and (max-width:1397px) {
    .delivery__team{
        gap: 5rem;
    }
}



@media screen and (max-width:1320px) {
    .hero-container{
        flex-direction: column;
        align-items: center;
        text-align: center; 
        background-position: center bottom;
        h1{
            font-size: 6.4rem;
            line-height: 1.1;
            margin-bottom: 2.4rem;
        }
        .hero-text{
            hr{
                display: none;
            }
            p{
                width: 457px;   
                padding-top: 0;
            }
        }
    }
    .features-container{
        flex-direction: column;
    }
    .features__choice{
        width: 100% ;
        .features__choice__box{
            width: 573px  !important; 
            p{
                width: inherit ;
            }
        }
    }
}
@media screen and (max-width:1200px){
    .features-container{
        flex-direction: column;
        align-items: center;
    }
    .features__text{
        font-size: 2rem;
    }
} 

@media screen and (max-width:1000px) {
    .container{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .hero{
        p{
            padding-bottom: 15.6rem;
        }
    }

    .delivery__team__box{
        p{
            width: none;
        }
    }
}
@media screen and (max-width:940px){
    .features{
        background-position:top right -10rem;  
    }
    
}
@media screen and (max-width:768px){
    .hero{
        background-image: none;
    }
    .features__text{
        h2{
            font-size: 5.4rem;
        }
    }
    .features__choice__box{
        display: flex;
        flex-direction: column;
        width: 327px;
        .features__box-text{
            width: 327px;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
}
@media screen and (max-width:650px){

    .container{
        padding-left: 4.5em;
        padding-right: 4.5rem;
    }
    .hero-container{
        padding-bottom: 15rem;
    }
}

@media screen and (max-width:550px){
    .container{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .hero{
        h1{
            font-size: 4rem;
            line-height: 4rem;
            text-align: center;

        }
        p{
            text-align: center;
            font-size: 1.5rem;
            line-height: 2.8rem;
            padding-bottom: 7rem;
        }
    }
}


@media screen and (max-width:375px){
    .container{
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    .hero-container{
        p{
            font-size: 1.5rem;
            line-height: 2.8rem;
            padding-bottom: 0rem;
        }
    }

    .delivery-container{
        h2{
            font-size: 3.5rem;
            line-height:1;
        }
    }
}